@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Variables:

$base-font: 'Karla', sans-serif;

$white:#FFFFFF;
$concrete:#F2F2F2;
$cadetBlue:#9AA7BE;
$azureBlue: #3b53b0;
$easternBlue:#2AB3B1;
$pear:#C0DF33;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  font-family: $base-font;
  background-color: $concrete;
}


.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.wrapper-component {
  min-height: 100vh;
  max-width: 1440px;
  background-color: $concrete;
  display: grid;
  justify-content: center;
  align-content: center;

  .main-component {
    padding: 72px 28px 28px 28px;
    background-color: $concrete;
    z-index: 3;
  
  
  
    .card {
      box-shadow: 0px 20px 20px rgba(0, 0, 0, .2);
     
    
      &-1 {
        padding: 24px;
        background-color: $white;
        border-radius: 8px 8px 0 0;
      
        &__heading-primary {
          font-size: 20px;
          padding: 28px 0 24px 0;
          color: $easternBlue;
        }
      
        &__heading-secondary {
          font-size: 15px;
          color: $pear;
        }
      
        &__text {
          padding: 16px 0 8px 0;
          font-size: 14px;
          line-height: 26px;
          color: $cadetBlue;
        }
      }
  
      &-2 {
        padding: 24px;
        background-color: $easternBlue;
        color: $white;
      
        &__heading-secondary {
          font-size: 18px;
        }
      
        &__pricing {
          margin-top: 18px;
          display: flex;
      
          &-price {
            font-size: 32px;
            font-weight: 700;
          }
      
          &-period {
            padding: 8px 0 0 11px;
            opacity: .5;
          }
        }
      
        &__text {
          padding: 4px 0 26px 0;
        }
        
        .btn {
          padding: 15px 85px 14px 85px;
          color: $white;
          text-transform: uppercase;
          letter-spacing: 1px;
          border-radius: 5px;
        
            &:link,
            &:visited {
              text-transform: uppercase;
              text-decoration: none;
              display: inline-block;
              transition: all .2s;
            }
        
            &-pear {
              background-color: $pear; 
            }
        
            &:hover {
              transform: translateY(-3px);
              box-shadow: 0 10px 20px rgba(0,0,0,.2);
            }
        
            &:active {
              transform: translateY(-1px);
              box-shadow: 0 5px 10px rgba(0,0,0,.2);
              background-color: $concrete;
              color: $easternBlue;
            }
        }
      }
  
      &-3 {
        padding: 24px;
        background-color: $easternBlue;
        color: $white;
        position: relative;
      
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.1519);
        }
      
        &__heading-secondary {
          font-size: 18px;
          letter-spacing: -0.22px;
        }
      
        &__list {
          padding-top: 18px;
          list-style: none;
        }
      
        &__list-item {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: -0.17px;
        }
      }
    }
  }

  .footer__attribution {
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $concrete;
  
    &-text {
      padding-bottom: 0.5em;
      color: $cadetBlue;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
  
    &-link {
      display: inline-block;
      padding-top: 0.5em;
      text-decoration: none;
      border-bottom: 2px solid #b7babe;
      color: #5183f5;
      font-weight: 600;
      line-height: 1rem;

      &:hover {
        background-color: rgba(81,131,245,0.3);
        border-bottom: 2px solid #5183f5;;
      }
    }
  }
}


@media (min-width: 420px) {
  .card-1__text-developers {
    display: block;
  }
}

@media (min-width: 768px) {
 .card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 'c1 c1' 'c2 c3';
  }
  .card-1 {
    // grid-column: 1/3; wihout grid area
    grid-area: c1;
  }
  .card-2 {
    grid-area: c2;
    display: flex;
    flex-direction: column;
  }
  .card-3 {
    grid-area: c3;
    display: flex;
    flex-direction: column;
  }
}

/*

ToDo

- fontsize %, rem and em - change px into rem / em;
- check sass variables;
- check if can separate the btn-pear like above;
- add effect to button and better focus style;
- RWD on desktop size of elements!
- add git ignore;
- add to readme info about mobile first etc, about project;

*/