@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #e9f0f7;
  text-rendering: optimizeSpeed;
}

.screen-reader-only {
  position: absolute;
  height: 0.0625rem;
  width: 0.0625rem;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.wrapper-component {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 90rem;
  background-color: #e9f0f7;
}

.main-component {
  padding: 1.75rem;
  z-index: 3;
}

.card {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1.25rem 1.25rem rgba(0, 0, 0, 0.189);
          box-shadow: 0 1.25rem 1.25rem rgba(0, 0, 0, 0.189);
}

.card-1 {
  padding: 1.5rem 1.5rem 0 1.5rem;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-1__heading-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-1__heading-primary-main {
  font-size: 1.25rem;
  padding: 0.25rem 0 1.375rem 0;
  color: #2ab2af;
}

.card-1__heading-primary-sub {
  font-size: 0.9375rem;
  color: #c0df34;
}

.card-1__description {
  padding: 0.5rem 0 2rem 0;
  font-size: 0.875rem;
  line-height: 1.625rem;
  color: #98a7bd;
}

.card-1__description br {
  display: none;
}

@media (min-width: 26.25rem) {
  .card-1__description br {
    display: inline-block;
  }
}

.card-2 {
  padding: 1.5rem;
  background-color: #2ab2af;
  color: white;
}

.card-2__heading-secondary {
  font-size: 1.125rem;
}

.card-2__pricing {
  padding-top: 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-2__pricing-price {
  font-size: 2rem;
  font-weight: 700;
}

.card-2__pricing-period {
  padding: 0.5rem 0 0 0.6875rem;
  opacity: .5;
}

.card-2__text {
  padding: 0.1875rem 0 1.8125rem 0;
}

.card-2 .btn {
  padding: 0.9375rem 5.3125rem 0.875rem 5.3125rem;
  color: white;
  letter-spacing: 0.0625rem;
  border-radius: 0.3125rem;
}

.card-2 .btn:link, .card-2 .btn:visited {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card-2 .btn--primary {
  background-color: #c0df34;
}

.card-2 .btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.189);
          box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.189);
}

.card-2 .btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  color: #2ab2af;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.189);
          box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.189);
}

.card-3 {
  position: relative;
  padding: 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #2ab2af;
  color: white;
}

.card-3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.153);
}

.card-3__heading-secondary {
  font-size: 1.125rem;
  letter-spacing: -0.0138rem;
}

.card-3__list {
  padding-top: 1.125rem;
  list-style: none;
}

.card-3__list-item {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.0106rem;
  opacity: .75;
}

@media (min-width: 48rem) {
  .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'c1 c1' 'c2 c3';
  }
  .card-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: c1;
    padding: 2.4375rem 2.5rem 0rem 2.5rem;
  }
  .card-1__heading-primary-main {
    font-size: 1.5rem;
  }
  .card-1__heading-primary-sub {
    font-size: 1.125rem;
  }
  .card-1__description {
    font-size: 1rem;
    padding-top: 0.6875rem;
    padding-bottom: 2.5rem;
  }
  .card-2 {
    padding: 2.5rem 2.5rem 2.4375rem 2.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .card-2__pricing {
    padding-bottom: 0.25rem;
  }
  .card-3 {
    padding: 2.5rem;
    border-bottom-left-radius: 0;
  }
}

.footer__attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0 1rem 0;
  background-color: #e9f0f7;
}

.footer__attribution-text {
  padding-bottom: 0.5em;
  font-size: 0.8rem;
  color: #98a7bd;
  letter-spacing: 0.0625rem;
}

.footer__attribution-link {
  display: inline-block;
  padding-top: 0.5em;
  text-decoration: none;
  border-bottom: 0.125rem solid #b7babe;
  color: #5183f5;
  font-weight: 600;
  line-height: 1rem;
}

.footer__attribution-link:hover {
  background-color: rgba(81, 131, 245, 0.302);
  border-bottom: 0.125rem solid #5183f5;
}
/*# sourceMappingURL=main.css.map */